
@import "null.css";

@import "fonts.css";

body{ 
   
    font-family: 'RuslanDisplay-Regular';
}

.wrapper {
    overflow: hidden;
}

.content{
    max-width: 1500px;
    min-width: 500px;
    margin: 0 auto;
}

.header {
    min-width: 300px;
    padding:0 50px 0 140px;
    background: black url('../img/logo.png') fixed no-repeat;
    background-position: 7.8% 20px;
    box-shadow: inset 0 0 10px rgb(235, 235, 2);
}
.block_detals {
}
.all_menu{
    padding: 50px 5px 5px 5px;
    min-width: 180px;
    margin-left: 50%;
    font-size:25px;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 0 0 5px gray;
    background: rgba(255, 251, 1, 0.897) url('../img/icon-delivery.png') fixed repeat;
    box-shadow: 0 0 20px yellow,inset 0 0 20px yellow;
}

.menu {
    margin-bottom: 5px;
    display: inline-block;
    text-decoration:overline;
    background-color: rgba(0, 122, 55, 0.9);
    border-radius: 60px;
}
.rest {
    margin-bottom: 5px;
    display: inline-block;
    text-decoration:overline;
    background-color: rgba(1, 221, 100, 0.9);
    border-radius: 60px;
    
}
.sale {
    margin-bottom: 5px;
    display: inline-block;
    text-decoration:overline;
    background-color: rgba(1, 221, 100, 0.9);
    border-radius: 60px;
    
}
.news {
    margin-bottom: 5px;
    display: inline-block;
    text-decoration:overline;
    background-color: rgba(1, 221, 100, 0.9);
    border-radius: 60px;
}
.franch {
    display: inline-block;
    background-color: rgb(17, 136, 136);
}

.all_block{
    display: inline-block;
}

.block_1 {
    margin: 0 auto;
    display: inline-block;
    background: url('../img/depositphotos_445374754-stock-photo-delicious-burgers-seamless-background-for.jpg') fixed repeat;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-shadow: 0 0 3px rgb(255, 255, 255);
   
}

.block_1_1 {
    display: inline-block;
    margin:10px 10px 10px 10px;
    width: 300px;
    height: 300px;
    background: url('../img/3OEd.gif') no-repeat;
    background-size: 300px 300px;
    box-shadow: 0 0 10px grey, inset 0 0 10px grey;
}
.block_1_2 {  
    display: inline-block;
    background-color: chocolate;
    margin:10px 10px 10px 10px;
    width: 300px;
    height: 300px;
    background: url('../img/2gkE.gif') no-repeat;
    background-size: 300px 300px;
    box-shadow: 0 0 10px grey, inset 0 0 10px grey;
}
.block_1_3 {
    display:inline-block;
    margin:10px 10px 10px 10px;
    width: 300px;
    height: 300px;
    background: url('../img/PuVI.gif') no-repeat;
    background-size: 400px 300px;
    box-shadow: 0 0 10px grey, inset 0 0 10px grey;
}
.block_2 {
    padding: 20px 20px 20px 20px;
    font-size: 30px; 
    background-image:rgba(179, 32, 32);
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 30px grey, inset 5px 0 45px rgb(0, 0, 0);
    background-color: antiquewhite;
    
}
.block_2 p{
    font-size: 55px;
    text-shadow: 0 0 40px white;
    text-decoration: underline;
    margin-bottom: 15px;
}
.list{
    margin-bottom: 20px;
    padding: 20px 100px 10px 100px;
    background-image:url('../img/1627155936_9-kartinkin-com-p-fon-dlya-menyu-burgeri-krasivo-9.jpg') ;
    background-size: cover 100%;  
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(119, 119, 119, 0.8),inset 0 0 10px rgba(190, 189, 189, 0.8);
    border-radius: 30px;
}
.list li{
    text-align: left;
    background: url('../img/469-4699402_-golden-star-goldstern-toile-dor-__1_-removebg-preview.png') 0 0 / auto no-repeat;
    background-size: 30px 20px;
    padding: 0px 0px 10px 45px;
    text-decoration: underline rgba(119, 119, 119, 0.8);
    text-shadow: 0 0 2px rgb(64, 65, 61);
}
.block_3 {
   
}
.block_4 {
}
.block_5 {
}
.block_6 {
}




/* .block_all{

}

.block_detals {
    display: inline-block;
    min-width: 400px;
    min-height: 250px;
    background-image: url('../img/f175394eeaf309ff968ed9f1a7b26c70.jpg');
    
}
.all {
   
    border: 3px 2px red;
    box-shadow: 3px 3px 30px red,inset 3px 3px 30px red ;
}

.block_left_eyes {
}

.left_eyes {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1) url('../img/eye.png') fixed no-repeat;
    background-size: 30px;
    background-position: 0 0;
    border-radius: 50%;
    box-shadow: 0px 0px 10px red;
}
.block_eyes_right{
    background-color: aqua;

}

.right_eyes{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1) url('../img/eye.png') fixed no-repeat;
    background-size: 30px;
    background-position: 50px 0;
    border-radius: 50%;
    border: 2px;
    box-shadow: 0px 0px 10px red,inset 0px 0px 10px rgba(255, 0, 0, 0.1);
    background-color: aqua;
}

.block_heard{ 
    width: 105px;
    height: 105px;
    background: rgba(255, 255, 255, 0.1) url('../img/72zF-unscreen.gif') ;
    background-size: 85px;
    background-position: 520px 475px;
    border-radius: 50%;
    transform: scale(-1, 1) ;
    box-shadow: 0px 0px 10px red;
}

.block_tract {
    width: 30px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1) url('') 463px 187.5px / fixed no-repeat;
    background-size: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px red;
}

.block_header_text{
   max-width: 400px;
   min-height: 50px;
}

/* .block_tract {
    margin-left: 500px;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1) url('') 463px 187.5px / fixed no-repeat;
    background-size: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px red;
} */


/* вертикальный задний фон */

.bacgraund_gif{
    /* margin-left: 458px;
    width: 40px;
    height: 500px;
    background: rgba(255, 255, 255, 0.1) url('../img/1561646217_3566-gifka-ptichka-kuvyrkaetsya.gif') fixed no-repeat;
    background-size: 80px;
    background-position: 463px 187.5px;
    border-radius: 50%;
    margin-bottom: 100px;
    box-shadow: 0px 0px 10px red;
    transform: rotate(90deg); */

} */